<section class='about'>
    <div class="title">
        <h2>Sobre Mí</h2>
        <span class="line"></span>
    </div>
    <div class="about-container">
        <div  class="about-img">
            <img src="../../../assets/perfil.jpg" alt="Foto de perfil">
        </div>
        <div class="about-text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates ipsam accusamus cupiditate maxime neque molestias aliquid, nulla, id omnis quos aut nisi mollitia magnam cum! Molestias laborum qui magni.</p>
        </div>
    </div>
</section>
